<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ROYAL</title>
        <!-- fontawesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- custom css -->
        <link rel = "stylesheet" href = "forher.component.css">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <section id = "special" class = "py-5">
            <div class = "container">
                <div class = "title text-center py-5">
                    <h1 class = "position-relative d-inline-block">SHOP FOR HER</h1>
                </div>
    
                <div class = "special-list row g-0 justify-content-center">
    
                    <div class = "col-md-6 col-lg-4 col-xl-3 p-2 justify-content-center">
                        <div class = "special-img position-relative overflow-hidden">
                            <img src = "https://plus.unsplash.com/premium_photo-1709033404514-c3953af680b4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGdvbGQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D" class = "w-100">
                            <span class = "position-absolute d-flex align-items-center justify-content-center text-primary fs-4">
                            
                            </span>
                        </div>
                        <div class = "text-center">
                            <p class = "text-capitalize mt-3 mb-1">GOLD</p>
                            <a href = "" class = "btn btn-primary mt-3">VIEW</a>
                        </div>
                    </div>
    
                    <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
                        <div class = "special-img position-relative overflow-hidden">
                            <img src="https://images.unsplash.com/photo-1716366193038-495a3702fe22?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGlhbW9uZCUyMGpld2VsbGVyeXxlbnwwfHwwfHx8MA%3D%3D" class = "w-100">
                            <span class = "position-absolute d-flex align-items-center justify-content-center text-primary fs-4">
                            </span>
                        </div>
                        <div class = "text-center">
                            <p class = "text-capitalize mt-3 mb-1">DIAMOND</p>
                            <a href = "" class = "btn btn-primary mt-3">VIEW</a>
                        </div>
                    </div>
                    <div class = "col-md-6 col-lg-4 col-xl-3 p-2 justify-content-center">
                        <div class = "special-img position-relative overflow-hidden">
                            <img src = "https://plus.unsplash.com/premium_photo-1675719847698-6c8a924b2a7a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGxhdGludW18ZW58MHx8MHx8fDA%3D" class = "w-100">
                            <span class = "position-absolute d-flex align-items-center justify-content-center text-primary fs-4">
                            
                            </span>
                        </div>
                        <div class = "text-center">
                            <p class = "text-capitalize mt-3 mb-1">PLATINUM</p>
                            <a href = "" class = "btn btn-primary mt-3">VIEW</a>
                        </div>
                    </div>
    
                    <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
                        <div class = "special-img position-relative overflow-hidden">
                            <img src="https://images.unsplash.com/photo-1610695049917-d21679d7d593?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8" class = "w-100">
                            <span class = "position-absolute d-flex align-items-center justify-content-center text-primary fs-4">
                            </span>
                        </div>
                        <div class = "text-center">
                            <p class = "text-capitalize mt-3 mb-1">SILVER</p>
                            <a href = "" class = "btn btn-primary mt-3">VIEW</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>